.slide1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #69c1fc 0, #ffffff 30%);
  position: relative;
  overflow: hidden;
  background-image: url("../../images/bg-first.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.content {
  text-align: start;
  color: #181818;
  z-index: 2;
  margin-left: 8%;
}
.greeting {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
}
.headline {
  text-transform: uppercase;
  font-size: 92px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 1px;
  margin: 0;
}

.headline .highlight {
  font-weight: 500;
}
.single-line {
  display: flex;
  align-items: center;
}
.next-button {
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.next-button:active {
  transform: scale(0.98);
}
.next-button img {
  width: 65%;
}
.slide1::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  width: 200px;
  height: 200px;
  background: #e6f7ff;
  border-radius: 50%;
  filter: blur(100px);
}
.slide1::after {
  content: "";
  position: absolute;
  bottom: -50px;
  right: -50px;
  width: 300px;
  height: 300px;
  background: #83bbfc;
  border-radius: 50%;
  filter: blur(150px);
}
.element {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 1;
  width: 250px;
  height: 200px;
  animation: none;
}
.worm-main {
  background-image: url("../../images/pink_sperm_1.png");
  width: 700px;
  height: 200px;
  top: 25%;
  left: 40%;
  z-index: 10;
}
.worm-blurred {
  background-image: url("../../images/pink_sperm.png");
  bottom: -5%;
  left: 1%;
}
.ball-layer4 {
  background-image: url("../../images/Layer\ 4.png");
  bottom: -10%;
  left: 50%;
}
.ball-bakti1 {
  background-image: url("../../images/bakti_1.png");
  left: 5%;
  top: 70%;
  width: 67px;
}
.ball-layer5 {
  background-image: url("../../images/Layer\ 5.png");
  right: 20%;
  top: 10%;
  width: 67px;
}
.ball-layer4copy {
  background-image: url("../../images/Layer\ 4\ copy.png");
  right: 2%;
  top: 5%;
  width: 80px;
  opacity: 0.3;
}
.ball-layer8 {
  background-image: url("../../images/Layer\ 8.png");
  right: 5%;
  top: 33%;
  width: 130px;
}
.line-layer7 {
  background-image: url("../../images/Layer\ 7.png");
  left: 0;
  top: 13%;
  width: 140px;
}

@keyframes levitate {
  0% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-10px); 
  }
  100% {
    transform: translateY(0); 
  }
}

.levitating {
  animation: levitate 4s ease-in-out infinite;
}